*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do container: */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
    margin-top: 300px;
}

.container_text{
    background-color: #DCDCDC;
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 6px 6px 20px rgba(255, 255, 255, 0.2);
    user-select: none;
}

/* Estilo dos botões: */
.buttons-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

/* Estilo do botão deletar: */
.btn {
    border: none;
    height: 30px;
    width: 90px;
    background-color: #434343;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover{
    background-color: #fff;
    color: #121212; 
}

/* Estilo do botão cancelar: */
.btn-cancelar{
    height: 30px;
    width: 90px;
    background-color: #434343;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding-top: 7px;
    padding-left: 2px;
    font-size: 0.9rem;
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.btn-cancelar:hover{
    background-color: #fff;
    color: #121212; 
}
