{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/delete_product.css' %}">
<div class="container">
    <div class="container_text">
        <p>Tem certe4za que deseja excluir o produto</p>
        <p><strong> {{ products.product }} - {{ products.mark }}</strong>?</p>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="buttons-container">
          <button type="submit" class="btn">Deletar</button>
          <a href="{% url 'detail_products' pk=object.pk %}" class="btn-cancelar">Cancelar</a>
        </div>
      </form>
</div>
{% endblock %}