{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product_detail.css' %}">
<div class="container">
  <div class="card">
      <img src="{{ object.photo.url }}" alt="">
      <div class="text">
          <h2>{{products.product}}</h2>
          <p>Marca: {{ products.mark }}</p>
          <p>Sport: Futebol </p>
          <p>Preço: 700,00 </p>
          <p>Status: Disponivel </p>
          <p>Chuteira SemiNova ideal para pessoas exigentes e que gostam de praticar futebol</p>
          <p>Entre em contato: 81 994773262</p>
          <div class="buttons">
              <button><a href="{% url 'update_products' pk=object.pk %}">Editar</a></button>
              <button>Deletar</button>
          </div>
      </div>
  </div>
</div>
{% endblock %}