{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/update_product.css' %}">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Editar Produto</h2>
    <table class="product-table">
      {{ form.as_table }}
    </table>
    <div>
      <div class="buttons-container">
        <input type="submit" value="Salvar" class="btn">
        <a href="{% url 'detail_products' pk=object.pk %}"" class="btn-cancelar">Cancelar</a>
      </div>
    </div>
</form>
{% endblock %}