{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/icon.png' %}">
    <title>ArenaShop</title>
</head>
<body>
    <nav class="navbar">
        <h2>ArenaShop</h2>
        <a href="#" class="toggle_button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar_links">
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'list_products' %}">Inicio</a></li>
                    <li><a href="{% url 'create_products' %}">Cadastrar Produto</a></li>
                    <li><a href="http://">Sobre</a></li>
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                {% endif%}
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Cadastrar-se</a></li>
                    <li><a href="http://">Sobre</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        &#169 ArenaShop
        <h4>Equipando sua paixão pelo esporte com qualidade e desempenho em cada detalhe!</h4>
    </footer>
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>
